<main>
    <a>Welcome
        {% if firstName is defined %}
            {% if lastName is defined %}
                {{ firstName }}
                {{ lastName }}
            {% endif %}
        {% endif %}
    </a>
</main>
